<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Christmas Tree</title>
</head>
<body>
    Hello World! {{ lastMeasure.temp }} {{ lastMeasure.hum }} {{ lastMeasure.ts }}
</body>
</html>